body {
	background-image: url("../img/fondo.png");
	font-family: Arial, Verdana;
}

body, html {
	height: 100%;
	padding: 0px;
	margin: 0px
}

.div-general {
	color: yellow;
	background-color: #FF380C;
	max-width: 50%;
	margin: auto;
	padding: 10px 30px;
	border: solid 2px #DCDCDC;
	border-radius: 5px;
}

ul {
    list-style-type: square;
}

a {
	color: yellow;
}

a:hover {
    color: blue;
}
